* {

	margin: 0;
    margin: 0;
}
body{
	background: url(bmc.jpg);
	background-size: 100;
	background-position: -1px,5px;
}
div.main{
	width: 400px;
	margin: 100px auto 0px auto;

}
h2{

	text-align:center;
	padding: 1px;
	font-family: sans-serif;
}
div.register{
	background-color: rgba(0,0,0,0.5);
	width: 100;
	font-size: 18px;
	border-radius: 10px;
	border: 1px soid rgba(255,255,255,0.3);
	box-shadow: 2px 2px 15px
	rgba(0,0,0,0.3);
	color: #ffff;

}
form#register{
	margin: sans-serif;
	font-size: 18px
	font-style: italic;
}
input#name{
	width: 300px;
	border: 1px solid #ddd;
	border-radius: 3px;
	outline: 0;
	padding: 7px;
	backface-visibility: #ffff;
	box-shadow: inset 1px 1px 5px
	rgba(0,0,0,3);
}
input#submit{
	width: 200px;
	padding: 7px;
	font-size: 16px;
	font-family: sans-serif;
	font-weight: 600;
	border: none;
	border-radius: 3px;
	background-color: rgba(250,100,0,0.8);
	color: #fff;
	cursor: pointer;
	border: 1px solid 
	rgba(255,255,255,0.3);
	box-shadow: 1px 1px 5px
	 rgba(0,0,0,0.3);
	 margin-bottom: 20px;
}
label,span,h2{
	text-shadow: 1px 1px 5px
	rgba(0,0,0,0.3);
}
